extends ../base/base.pug

include ../partials/mixin.pug

block variables
    - var cartData = cart 
    - var {title, products} = cartData

block content
    section.cart 
        .container 
            +page("Giỏ hàng")
            .cart__container 
                h2.cart__title-main Giỏ hàng
                .cart__content 
                    form#cart__form(action="#")
                        .cart__table 
                            table.table.table-bordered
                                thead
                                    tr
                                        each item in title 
                                            th(scope='col')= item
                                tbody.cart__product
                                    each productItem in products
                                        tr
                                            td 
                                                img(src=`./assets/images/${productItem.src}.png`, alt="cart-img")
                                            td.cart__name= productItem.name
                                            td= `${productItem.currentPrice} `
                                                span.d-md-inline.d-none đ
                                            td 
                                                div.cart__amount
                                                    input(type="number" , value= productItem.amount, min="1" ,max="10")
                                            td= `${productItem.total} `
                                                span.d-md-inline.d-none đ
                                            td
                                                button.button 
                                                    i.fas.fa-trash-alt               
                            .cart__btn.text-right.my-5
                                button.btn-deleteAll(type='button').button.button-round--lg.button-white.mr-4 Huỷ đơn hàng
                                button(type='button').button.button-round--lg.button-green
                                    a(href="products.html")  Tiếp tục mua 
                        .cart__total.pt-5
                            .row 
                                .col-lg-7.offset-lg-5.col-md-8.offset-md-4.col-12
                                    table.table.table-bordered
                                        tfoot 
                                            tr
                                                td(scope='col') Tổng phải thanh toán 
                                                td.cart__total-payment(scope='col') 297.000 đ
                                        tbody
                                                tr
                                                    td Tổng tiền (Chưa thuế)
                                                    td.cart__total-money 270.000 đ
                                                tr
                                                    td Thuế (VAT 10%)
                                                    td.cart__VAT 27.000 đ
                            .cart__btn.text-right.my-4
                                button
                                    a.button.button-round--lg.button-green(href="infoPayment.html") Tiến hành đặt hàng
                    .cart__nonProduct.d-none 
                        .cart__nonProduct-img.text-center
                            img(src="./assets/images/cart.png")
                        .cart__nonProduct-btn.text-center
                            p Giỏ hàng chưa có sản phẩm nào
                            button.mr-4(type='button')
                                a.button.button-round--lg.button-green(href="products.html")  Mua sắm ngay 

            
            #cartModal.modal.fade.show(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true' )
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalLabel.modal-title Bạn chắc chắn muốn xoá bỏ sản phẩm này?
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        .modal-body
                        .modal-footer
                            
                            
                            

block script 
    script(src="./js/cart.js" ) 
